[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
slackclient = ">=2.0.0"
slackeventsapi = ">=2.1.0"
certifi = "*"
Flask = ">=1.1.2"
Flask-APScheduler = ">=1.11.0"

[requires]
python_version = "3.7.3"
